<div class="col">
  <a id="volver" href="http://localhost:3000"> Volver al menu principal </a>
</div>
<header class="center">
  <img src="img/dice.jpg" alt="Imagen dados" />
  <h1>DICE GAME</h1>
</header>
<main>
  <h3>Por favor escribe los nombres de los 3 participantes.</h3>
  <form id="enviar">
    <ul>
      <li>
        <label for="name1">Jugador1:</label>
        <input type="text" id="name1" name="name1" placeholder="Nombre" />
      </li>
      <li>
        <label for="name2">Jugador2:</label>
        <input type="text" id="name2" name="name2" placeholder="Nombre" />
      </li>
      <li>
        <label for="name3">Jugador3:</label>
        <input type="text" id="name3" name="name3" placeholder="Nombre" />
      </li>
      <li class="button">
        <button class="intButton" type="submit">Crear</button>
      </li>
      <li class="button">
        <button class="intButton" type="reset">Borrar</button>
      </li>
    </ul>
  </form>
</main>
<footer>
  <ul>
    <li class="left">
      <a href="https://github.com/CarlosV96" target="_blank">
        <img src="/img/github.png" />
      </a>
    </li>
    <li class="right">
      <a href="https://www.linkedin.com/in/carlosandresvalencia1996/" target="_blank"><img src="/img/linkedin.png" />
      </a>
    </li>
  </ul>
</footer>
<script src="/javascripts/archivos.js"></script>