<header class="center">
  <img src="./../img/dice.jpg" alt="Imagen dados" />
  <h1>DICE GAME</h1>
</header>
<main>
  <h3>Por favor selecciona la opción que deseas.</h3>

  <a href="/createGame"><button class="button2">CREAR JUEGO</button></a>
  <a href="/startGame" ><button class="button2">EMPEZAR JUEGO</button></a>
  <a href="/game" ><button class="button2">CONSULTAR JUEGO</button></a>

</main>
<footer>
  <ul>
    <li class="left">
      <a href="https://github.com/CarlosV96" target="_blank"><img
          src="/img/github.png"
        />
      </a>
    </li>
    <li class="right">
      <a
        href="https://www.linkedin.com/in/carlosandresvalencia1996/"
        target="_blank"
      ><img src="/img/linkedin.png" /> </a>
    </li>
  </ul>
</footer>