<div class="col">
  <a id="volver" href="http://localhost:3000"> Volver al menu principal </a>
</div>
<header class="center">
  <img src="/img/dice.jpg" alt="Imagen dados" />
  <h1>DICE GAME</h1>
</header>
<main>
  <h3>Id game : </h3>
  <p id="idGame_local"> </p>
  <br />
  <h3>Jugadores</h3>
  <br />
  <ul>
    <li>
      <p id="jugador1"> </p>
    </li>
    <li>
      <p id="jugador2"> </p>
    </li>
    <li>
      <p id="jugador3"> </p>
    </li>
  </ul>
  <button id="begin" class="createGame">Empezar Juego</button>
</main>
<footer>
  <ul>
    <li class="left">
      <a href="https://github.com/CarlosV96" target="_blank"><img
          src="/img/github.png"
        />
      </a>
    </li>
    <li class="right">
      <a
        href="https://www.linkedin.com/in/carlosandresvalencia1996/"
        target="_blank"
      ><img src="/img/linkedin.png" /> </a>
    </li>
  </ul>
</footer>
<script src="/javascripts/startGame.js"></script>
<script src="/javascripts/play.js"></script>